/* Page Content */
.content {
    max-width: 960px;
    margin: auto;
}

.page-header {
    font-size: larger;
    font-weight: bold;
}

.page-header img {
    vertical-align: middle;
}

/* Tables */
.styled-table {
    table-layout:fixed;
    word-wrap:break-word;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    max-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/* Table Header Row */
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

/* Table Cells */
.styled-table tr th {
    padding: 12px 15px;
    text-align: left;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.styled-table td {
    padding: 12px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Table Rows */
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

/* Even Table Rows */
.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

/* Last Table Row */
.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

/* Active Row */
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
