# Documentation: https://github.com/compose-spec/compose-spec/blob/master/spec.md
# Purpose: Build local containers for the Dragonfly environment

# Container image: webpwnized/dragonfly:www
# From project root, build with: 
#   docker build --file .build/www/Dockerfile --tag webpwnized/dragonfly:www .
#
# From project root, run with:
#   docker-compose --file .build/docker-compose.yml up --detach

version: '3.8'
services:

# Port 8888 is for DAST scan
  www:
    container_name: www
    image: webpwnized/dragonfly:www
    build:
        context: www  # The context starts from the directory that the docker-compose.yml file is in unless adjusted
        dockerfile: Dockerfile
    ports:
      - 127.0.0.1:80:80
      - 127.0.0.1:8888:80
    networks:
      - httpnet
  
# Create network segments for the containers to use
networks:
    httpnet:
