/* General Styles */

/* Page Content */
.content {
    max-width: 960px;
    margin: auto;
}

/* Page Header */
.page-header {
    font-size: 2.5rem; /* Equivalent to 40px */
    font-weight: bold;
}

.page-header img {
    vertical-align: middle;
}

/* Tables */

/* Styled Table */
.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem; /* Equivalent to 14px */
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/* Table Header */
.styled-table thead {
    background-color: #009879;
    color: #ffffff;
}

/* Table Header Cell */
.styled-table th {
    padding: 12px 15px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Table Body */
.styled-table tbody {
    border-bottom: 1px solid #dddddd;
}

/* Table Row */
.styled-table tbody tr {
    background-color: #ffffff;
}

/* Even Table Row */
.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

/* Last Table Row */
.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

/* Active Table Row */
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
